.welcome-font {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.title-font {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-max-width: infinity;
}

.chart-series-line.series0 {
    -fx-stroke: green;
}
.chart-series-line.series1 {
    -fx-stroke: blue;
}
.chart-series-line.series2 {
    -fx-stroke: red;
    -fx-stroke-dash-array: 4 4;
}

.chart-series-line.series3 {
    -fx-stroke: orange;
    -fx-stroke-dash-array: 4 4;
}
