.welcome-font {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.title-font {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-max-width: infinity;
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-padding: 4 8 4 8; /* opzionale: regola lo spazio interno */
}

.chart-series-line.series0 {
    -fx-stroke: green;
    -fx-stroke-dash-array: 10 5;
}
.chart-series-line.series1 {
    -fx-stroke: blue;
    -fx-stroke-dash-array: 10 5;
}
.chart-series-line.series2 {
    -fx-stroke: red;
    -fx-stroke-dash-array: 4 4;
}

.chart-series-line.series3 {
    -fx-stroke: orange;
    -fx-stroke-dash-array: 4 4;
}
